# Python Data Structures and Boolean
Boolean
Boolean and Logical Operators
Lists
Comparison operators
Dictionaries
Tuples
Sets
Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [83]:
False
False
print(True,False)

True False

In [85]:
True 
type(True)
#bool

bool

In [86]:
type(False)
bool

bool

In [87]:
my_str='Kriti29'
my_str.istitle()
True

True

In [114]:
print(my_str.isalnum()) #check if all char are alphanumbers

True

In [90]:
print(my_str.isalpha()) #check if all char in the string are alphabetic

False

In [92]:
print(my_str.isalnum()) #check if all char are alphanumeric

True

In [93]:
print(my_str.isalpha()) #check if all char in the string are alphabetic

False

In [94]:
print(my_str.isdigit()) #test if string contains digits

False

In [95]:
print(my_str.istitle()) #test if string contains title words

True

In [96]:
print(my_str.isupper()) #test if string contains upper case

False

In [97]:
print(my_str.islower()) #test if string contains lower case

False

In [3]:
# nee
my_str='Kriti'
print(my_str.isspace()) #test if string contains spaces only

False

In [4]:
print(my_str.endswith('k')) #test if string endswith a d

False

In [5]:
print(my_str.startswith('K')) #test if string startswith H

True

In [9]:
str_example='Kriti'
my_str='29'
str_example.isalpha() or my_str.isnum()

True

In [7]:
str_example='Hello World'
my_str='Kriti'
my_str.isalpha() or str_example.isnum()

True

# Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [59]:
type([])

list

In [60]:
lst_example=[]
type(lst_example)

list

In [61]:
lst=list()
type(lst)

list

In [84]:
lst=['Mathematics', 'chemistry', 'Hindi' ,'English',100, 200, 300, 204]
len(lst)

8

In [85]:
type(lst)

list

# Append
#.append is used to add elements in the list

In [86]:
lst.append("Kriti")
lst.append(["John","Bala"])
lst

['Mathematics',
 'chemistry',
 'Hindi',
 'English',
 100,
 200,
 300,
 204,
 'Kriti',
 ['John', 'Bala']]

In [87]:
lst[7]

204

In [27]:
lst[1:7]

['chemistry', 'Hindi', 'English', 100, 200, 300]

# Insert
## insert in a specific order

In [88]:
lst.insert(2,"Sinha")
lst

['Mathematics',
 'chemistry',
 'Sinha',
 'Hindi',
 'English',
 100,
 200,
 300,
 204,
 'Kriti',
 ['John', 'Bala']]

In [89]:
lst.append(["Hello","World"])
lst

['Mathematics',
 'chemistry',
 'Sinha',
 'Hindi',
 'English',
 100,
 200,
 300,
 204,
 'Kriti',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [90]:
lst=[1,2,3]
lst

[1, 2, 3]

In [91]:
lst.append([4,5])
lst

[1, 2, 3, [4, 5]]

In [92]:
lst[3]

[4, 5]

In [93]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [94]:
#Various Operations that we can perform in List
lst=[1,2,3,4,5]
sum(lst)

15

In [95]:
lst

[1, 2, 3, 4, 5]

In [96]:
lst*5
lst

[1, 2, 3, 4, 5]

In [97]:

#[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
#Pop() Method
lst.pop()

5

In [98]:
lst

[1, 2, 3, 4]

In [99]:
lst.pop(0)

1

In [100]:
lst

[2, 3, 4]

In [101]:
lst.pop(1)

3

In [102]:
lst

[2, 4]

In [103]:
lst.pop()

4

In [104]:
lst

[2]

In [106]:
lst.pop(1)

IndexError: pop index out of range

In [108]:
#count():Calculates total occurrence of given element of List
lst=[9,1,2,3,4,5]
lst.count(1)

1

In [109]:
#length:Calculates total length of List
len(lst)

6

In [111]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(2,1,4)

2

In [112]:
##Min and Max
min(lst)

1

In [113]:
max(lst)

9

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

## Defining an empy set

In [114]:
set_var= set()
print(set_var)
print(type(set_var))
set()

set()
<class 'set'>

set()

In [115]:
set_var={1,2,3,4,3}
set_var

{1, 2, 3, 4}

In [118]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'IronMan', 'Avengers'}

set